body {
	font-family: sans-serif;
	background-color: #313131;
	overflow: hidden;
}

header {
	background-color: lightgray;
	color: black;
	margin: -20px -10px 0 -10px;
	padding: 10px;
	text-align: center;
}
footer {
	margin-top: 20px;
	padding: 20px;
	color: white;
	background-color: #313131;
	overflow: hidden;
	margin: 20px -10px;
	text-align: right;
}
main {
	background-color: white;
	margin: 0 -20px;
	padding: 30px;
}

.libSelector {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	width: 80%;
	margin: 0 auto;
}

.libSelector a, .taskSelector a {text-decoration: none;}

.libSelector .lib, .taskSelector .task {
	color: white;
	font-size: 2em;
	text-align: center;
	padding: 60px 5px;
	transition: 0.2s;
}
.libSelector .lib:hover, .taskSelector .task {
	transform: scale(1.1);
	box-shadow: 2px 2px 6px black;
}


.libSelector #l1 { background-color: #ed225d }
.libSelector #l2 { background-color: darkred }
.libSelector #l3 { background-color: #00b9fd }


/* Estilos index Parallax.js */
.taskSelector {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 100px;
	width: 50%;
	margin: 0 auto;
}

.taskSelector .task{
	box-shadow: 5px;
}

.taskSelector #t1 { background-color: darkslategrey }
.taskSelector #t2 { background-color: darkslategrey }
